.homeworks-form {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    left: calc(15vw - 15px);
    top: 25vh;
    background-color: #444140;
    width: 70vw;
    height: 30vh;
    box-shadow: 0 0 10px rgba(0, 0, 00, 0.8) ;
    padding: 15px;
    border-radius: 50px;
}

.homeworks-form-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
}

.homeworks-form-title {
    border-radius: 30px;
    text-decoration: none;
    border: none;
    width: 50%;
    height: 100%;
    padding: 15px;
    background-color: #000000;
    color: white;
}

.homeworks-form-date {
    border-radius: 30px;
    text-decoration: none;
    border: none;
    width: 20%;
    height: 100%;
    padding: 10px;
    background-color:#1E1E24;
    color: white;
}

.homeworks-form-important {
    border-radius: 30px;
    text-decoration: none;
    border: none;
    height: 100%;
    padding: 15px;
    background-color: #716d6b;
    color: white;
    display: flex;
    align-items: center;
}

.homeworks-form-mid {
    width: 100%;
    height: 50%;
}

.homeworks-form-description {
    resize: none;
    border: none;
    padding: 20px;
    text-decoration: none;
    border-radius: 30px;
    height: 80%;
    width: calc(100% - 40px);
    resize: none;
}

.homeworks-top {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
}

.button-add {
    width: calc(60% + 45px);
    padding: 15px;
    font-size: large;
}

.homeworks-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.homework {
    background-color: #444140;
    width: 60%;
    padding: 20px;
    margin: 25px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    border: 4px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
}

.homework-important {
    border: 4px solid #FF0000;
    box-shadow: 0 0 10px rgba(256, 0, 0, 0.8) ;
}

.homework-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.homework-title {
    background-color: black;
    padding: 15px 30px;
    border-radius: 50px;
}

.homework-date {
    background-color: #1E1E24;
    padding: 15px 30px;
    border-radius: 50px;
}

.homework-description {
    background-color: #F7EBE8;
    padding: 25px;
    border-radius: 30px;
}

@media only screen and (max-width: 638px) {
    .homeworks-form {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        justify-content: center;
        gap: 50px
    }

    .homeworks-form-top {
        width: calc(70% + 40px);
    }

    .homeworks-form-title {
        border-radius: 30px;
        width: 50%;
        padding: 5px;
    }

    .homeworks-form-date {
        width: 40%;
        height: 100%;
        padding: 2%;
        text-align: center;
    }

    .homeworks-form-important {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        height: 100%;
        padding: 5px;
    }

    .homeworks-form-mid {
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .homeworks-form-description {
        height: 100%;
        width: 70%;
        resize: none;
    }

    .button-add {
        width: calc(80% + 45px);
        padding: 15px;
        font-size: large;
    }

    .homework {
        width: calc(80% + 20px);
        padding: 10px;
    }

    .homework-title {
        padding: 5px;
    }

    .homework-date {
        padding: 5px;
    }

    .homeworks-form-bot {
        width: calc(70% + 40px);
        height: 5%;
    }

    .button-form-submit {
        width: 100%;
        height: 100%;
        font-size: large;
    }

    .button-form-close {
        height: calc(100% + 10px);
        width: 30%;
        font-size: large;
    }
}