@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto-Regular.ttf);
}

body {
    background-color: #F7EBE8;
    padding: 0;
    margin: 0;
    font-family: roboto;
}

.button {
    background-color: #ffa987;
    padding: 10px 15px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    border: none;
}

.button-red {
    background-color: #E54B4B;
}

@media only screen and (max-width: 638px) {
    .button {
        padding: 5px;
    }
}